<div>
   <button (click)="setMonth(-1)">&lt;</button>
      {{date | date}}
   <button (click)="setMonth(+1)">&gt;</button>
   <div> 
      <mat-form-field appearance="fill">
         <mat-label>View</mat-label>
         <mat-select [(ngModel)]="selectedView">
            <mat-option *ngFor="let view of views" [value]="view">
            {{view}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
</div>

<ul>
   <li class="days" *ngFor="let day of days"> {{day}} </li>
   <li *ngFor="let date of dates">
      <day-view
         [day]="date | date:'d'"
         [disabled]="!isSameMonth(date)"
         [songs]="songsService.getSongsByDate(date)"
      ></day-view>
   </li>
</ul>