
   <div  fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="row-container">
      <div>
         <button mat-icon-button (click)="update(-1)">&lt;</button>
         <strong>{{anchorDate | date:'MMMM yyyy'}}</strong>
      <button mat-icon-button (click)="update(+1)">&gt;</button>
      </div>
         <mat-form-field>
            <mat-label>View</mat-label>
            <mat-select [(ngModel)]="selectedView" (selectionChange)="update()">
               <mat-option *ngFor="let view of views" [value]="view">
               {{view}}
               </mat-option>
            </mat-select>
         </mat-form-field>
   </div>
   
   <mat-list>
      <li *ngFor="let day of days"> {{day}} </li>
      <li *ngFor="let date of dates">
         <day-view
            [day]="date"
            [disabled]="!isSameView(date)"
            [songs]="getSongsByDate(date)"
            (deleteSong)="deleteSong($event, date)"
         ></day-view>
      </li>
   </mat-list>



