

.row-container {
  list-style: none;
  display: flex; 
  flex-flow: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

ul {
   margin: 0; 
   padding: 0;
   list-style: none;
   width: 100%;
  }

li {
  display: inline-block; 
  border: 1px solid #ccc;
  width: calc(100%/7 - 2px);
  text-align: center;
}

li.days {
  font-weight: bold;
}

li.grey {
  color: #ccc
}

li:hover {
  background-color: #ccc;
}