
<h1 mat-dialog-title>Songs released</h1>


<div class="container" *ngIf="data && data.length > 0; else noSongsBlock">
  <div mat-dialog-content cdkDropList class="song-list" (cdkDropListDropped)="drop($event)">
    <div class="song-box" *ngFor="let song of data; index as index" cdkDrag>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="song-custom-placeholder" *cdkDragPlaceholder></div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div><strong>{{song.title}}</strong></div>
          <div>{{song.artists | concat:' feat '}}</div>
        </div>
       <div fxLayout="row">
       <button mat-icon-button (click)="delete(index)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>
<ng-template #noSongsBlock>
  <p>
    No song are found for this day!
  </p>
</ng-template>